services:
  nginx:
    build: .
    image: lambki/danaul-nginx:latest
    container_name: danaul-nginx
    ports:
      - "${APP_PORT}:80"
    networks:
      - my-shared-proxy-net
    environment:
      # IP addresses for backend services
      - AUTH_APP_IP=${AUTH_APP_IP}
      - AUTH_APP_PORT=${AUTH_APP_PORT}
      - INVENTORY_APP_IP=${INVENTORY_APP_IP}
      - INVENTORY_APP_PORT=${INVENTORY_APP_PORT}
      - DOSUSCHEDULER_APP_IP=${DOSUSCHEDULER_APP_IP}
      - DOSUSCHEDULER_APP_PORT=${DOSUSCHEDULER_APP_PORT}
      - PRESCRIPTION_APP_IP=${PRESCRIPTION_APP_IP}
      - PRESCRIPTION_APP_PORT=${PRESCRIPTION_APP_PORT}
      - EMAILSENDER_FRONTEND_IP=${EMAILSENDER_FRONTEND_IP}
      - EMAILSENDER_FRONTEND_PORT=${EMAILSENDER_FRONTEND_PORT}
      - EMAILSENDER_API_IP=${EMAILSENDER_API_IP}
      - EMAILSENDER_API_PORT=${EMAILSENDER_API_PORT}
    volumes:
      - ./conf.d:/etc/nginx/templates:ro
      # Optionally mount static site files
      # - ./html:/usr/share/nginx/html:ro
    restart: always

networks:
  my-shared-proxy-net:
    external: true
